<ng-image-slider 
 class="slider"
  [images]="imgCollection"
  [infinite]="true"
  [autoSlide]="1"
  [imageSize]="{ width: '100%', height: 350,  }"
  #nav></ng-image-slider>
<hr>
<div class="container">
  <div class="row-one">
    <img src="https://t.ly/vWsbk">
    <span class="para-one">
      <h1>ASC ENGINE OIL</h1>
      <p>
        4 stroke engine oil is a high performance
        multigrade 4-stroke engine oil, Specially <br>
        formulated to provide outstanding, durable
        protection under severe High-torque, highstress  <br>
        conditions. Recommended for 4 stroke motorbikes & Other 4-stroke vehicles.

      </p>
    </span>
  </div>

  <hr>

  <div class="row-two">
    <img src="https://t.ly/u0ep9" width="600px">
    <span class="para-two">
      <h1>ASC ENGINE OIL</h1>
      <p>
        4 stroke engine oil is a high performance
        multigrade 4-stroke engine oil, Specially <br>
        formulated to provide outstanding, durable
        protection under severe High-torque, highstress  <br>
        conditions. Recommended for 4 stroke motorbikes & Other 4-stroke vehicles.

      </p>
    </span>
  </div>

  <hr>

  <div class="row-one">
    <img src="assets/oils/banner.jpg" width="600px">
    <span class="para-one">
      <h1>ASC ENGINE OIL</h1>
      <p>
        4 stroke engine oil is a high performance
        multigrade 4-stroke engine oil, Specially <br>
        formulated to provide outstanding, durable
        protection under severe High-torque, highstress  <br>
        conditions. Recommended for 4 stroke motorbikes & Other 4-stroke vehicles.

      </p>
    </span>
  </div>

  <hr>

  <div class="row-two">
    <img src="https://t.ly/vWsbk">
    <span class="para-two">
      <h1>ASC ENGINE OIL</h1>
      <p>
        4 stroke engine oil is a high performance
        multigrade 4-stroke engine oil, Specially <br>
        formulated to provide outstanding, durable
        protection under severe High-torque, highstress  <br>
        conditions. Recommended for 4 stroke motorbikes & Other 4-stroke vehicles.

      </p>
    </span>
  </div>
  
</div>