<header>
    <img src="assets/logo/ASC-LOGO.png">
    <div class="search-bar">
        <input type="search" placeholder="search">
       
    </div>
    <div class="menu-list">
        <ul id="open-link">
            
            <li><a routerLink=""  routerLinkActive="active-link"><mat-icon>home</mat-icon> HOME</a></li>
            <li><a routerLink="product" routerLinkActive="active-link"><mat-icon>shopping_cart</mat-icon>PRODUCT </a></li>
            <li><a routerLink="about" routerLinkActive="active-link"><mat-icon>build</mat-icon> ABOUT-US </a></li>
            <li><a routerLink="contact" routerLinkActive="active-link"><mat-icon>phone</mat-icon>CONTACT-US </a></li>
        </ul>
       <span class="menu-close">
        <a href="#" ><mat-icon class="list-icon">list</mat-icon> </a>
       </span>
    </div>
</header>
