<div class="heading">
    <h1>AUTOMOTIVE SPARE-PARTS COMPANY ENGINE OILS</h1>
</div>
<div class="container">
    <div class="row-one">
        <div id="card-one">
            <img src="assets/oils/API-S2.png" width="80px">
            <h2>ASC ENGINE OILS</h2>
            <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
                engine components.</p>
        </div>
    </div>
    <div class="row-one">
        <div id="card-one">
            <img src="assets/oils/API-S2.png" width="80px">
            <h2>ASC ENGINE OILS</h2>
            <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
                engine components.</p>
        </div>
    </div>
    <div class="row-one">
        <div id="card-one">
            <img src="assets/oils/API-S2.png" width="80px">
            <h2>ASC ENGINE OILS</h2>
            <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
                engine components.</p>
        </div>
    </div>

    <!-- second row start -->

    <div class="row-one">
        <div id="card-one">
            <img src="assets/oils/API-S2.png" width="80px">
            <h2>ASC ENGINE OILS</h2>
            <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
                engine components.</p>
        </div>
    </div>
    <div class="row-one">
        <div id="card-one">
            <img src="assets/oils/API-S2.png" width="80px">
            <h2>ASC ENGINE OILS</h2>
            <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
                engine components.</p>
        </div>
    </div>
    <div class="row-one">
        <div id="card-one">
            <img src="assets/oils/API-S2.png" width="80px">
            <h2>ASC ENGINE OILS</h2>
            <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
                engine components.</p>
        </div>
    </div>
<!-- third row start -->

<div class="row-one">
    <div id="card-one">
        <img src="assets/oils/API-S2.png" width="80px">
        <h2>ASC ENGINE OILS</h2>
        <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
            engine components.</p>
    </div>
</div>
<div class="row-one">
    <div id="card-one">
        <img src="assets/oils/API-S2.png" width="80px">
        <h2>ASC ENGINE OILS</h2>
        <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
            engine components.</p>
    </div>
</div>
<div class="row-one">
    <div id="card-one">
        <img src="assets/oils/API-S2.png" width="80px">
        <h2>ASC ENGINE OILS</h2>
        <p>motorcycle oil Effective rust and corrosion inhibition property ensures longer life of critical
            engine components.</p>
    </div>
</div>
