.heading{
    text-align: center;
    height: 80px;
    background: #5cb3b3;
    margin: 20px;
}
.heading h1{
  color: #fff;
    padding-top: 20px;
}
.container{
    display: inline-flex;
    flex-wrap: wrap;
}
.row-one{
    margin: 20px;
    flex-wrap: wrap;
    display: grid;
    padding-left: 40px; 
    transition: 0.50s ease-in;   
}
#card-one{
    border: 1px solid black;
    width:300px;
    text-align: center;
    padding: 10px;
    transition: 0.50s ease-in;
}
h2{
    color: #229d9d;
    transition: 0.50s ease-in;
}
p{
    width: 300px;
    text-transform: uppercase;
    transition: 0.50ms ease-in;
}
@media screen and (max-width:1694px){
 #card-one{
    width: 290px;
 }   
 img{
    width: 75px;
 }
 p{
    width: 290px;
 }
}
@media screen and (max-width:1650px){
 #card-one{
    width: 280px;
 }   
 img{
    width: 70px;
 }
 p{
    width: 285px;
 }
}
@media screen and (max-width:1615px){
 #card-one{
    width: 270px;
 }   
 img{
    width: 65px;
 }
 p{
    width: 285px;
 }
}
@media screen and (max-width:1570px){
 #card-one{
    width: 260px;
 }   
 img{
    width: 60px;
 }
 p{
    width: 270px;
    font-size: 12px;
 }
}
@media screen and (max-width:1535px){
 #card-one{
    width: 250px;
 }   
 img{
    width: 55px;
 }
 p{
    width: 265px;
    font-size: 12px;
 }
}
@media screen and (max-width:1490px){
 #card-one{
    width: 350px;
 }   
 img{
    width: 100px;
 }
 p{
    width: 320px;
    font-size: 18px;
 }
}
@media screen and (max-width:1418px){
 #card-one{
    width: 340px;
 }   
 img{
    width: 90px;
 }
 p{
    width: 310px;
    font-size: 16px;
 }
}
@media screen and (max-width:1390px){
 #card-one{
    width: 330px;
 }   
 img{
    width: 80px;
 }
 p{
    width: 310px;
    font-size: 16px;
 }
}
@media screen and (max-width:1360px){
 #card-one{
    width: 320px;
    margin: -10px;
 }   
 img{
    width: 75px;
 }
 p{
    width: 300px;
    font-size: 15px;
 }
}
@media screen and (max-width:1266px){
 #card-one{
    width: 310px;
    margin: -12px;
 }   
 img{
    width: 70px;
 }
 p{
    width: 290px;
    font-size: 14px;
 }
}
@media screen and (max-width:1226px){
 #card-one{
    width: 300px;
    margin: -13px;
 }   
 img{
    width: 65px;
 }
 p{
    width: 280px;
    font-size: 14px;
 }
}
@media screen and (max-width:1198px){
 #card-one{
    width: 290px;
    margin: -15px;
 }   
 img{
    width: 60px;
 }
 p{
    width: 270px;
    font-size: 14px;
 }
}
@media screen and (max-width:1150px){
 #card-one{
    width: 280px;
    margin: -16px;
 }   
 img{
    width: 50px;
 }
 p{
    width: 270px;
    font-size: 14px;
 }
}
@media screen and (max-width:1110px){
 #card-one{
    width: 400px;
    margin: -16px;
    text-align: center;
 }   
 img{
    width: 120px;
 }
 p{
    width: 320px;
    font-size: 19px;
    margin-left: 30px;
 }
}
@media screen and (max-width:984px) {
   #card-one{
      width: 380px;
      margin: -17px;
      text-align: center;
   }   
   img{
      width: 110px;
   }
   p{
      width: 300px;
      font-size: 19px;
      margin-left: 30px;
   }
   
}
@media screen and (max-width:984px) {
   #card-one{
      width: 360px;
      margin: -18px;
      text-align: center;
   }   
   img{
      width: 100px;
   }
   p{
      width: 280px;
      font-size: 19px;
      margin-left: 30px;
   }
   
}
@media screen and (max-width:984px) {
   #card-one{
      width: 340px;
      margin: -20px;
      text-align: center;
   }   
   img{
      width: 80px;
   }
   p{
      width: 260px;
      font-size: 16px;
      margin-left: 30px;
   }
   
}
@media screen and (max-width:948px) {
   #card-one{
      width: 320px;
      margin: -22px;
      text-align: center;
   }   
   img{
      width: 60px;
   }
   p{
      width: 240px;
      font-size: 16px;
      margin-left: 30px;
   }
   
}
@media screen and (max-width:800px) {
   #card-one{
      width: 300px;
      margin: -25px;
      text-align: center;
   }   
   img{
      width: 50px;
   }
   p{
      width: 220px;
      font-size: 16px;
      margin-left: 30px;
   }
}
@media screen and (max-width:800px) {
   #card-one{
      width: 280px;
      margin: -27px;
      text-align: center;
      
   }   
   img{
      width: 40px;
   }
   p{
      width: 200px;
      font-size: 14px;
      margin-left: 30px;
   }
   
}
@media screen and (max-width:700px) {
   #card-one{
      width: 580px;
    
      text-align: center;
      
   }   
   img{
      width: 150px;
   }
   h2{
    font-size: 30px;
   }
   p{
      width: 500px;
      font-size: 22px;
    padding: 10px;
     
   }
   
}
@media screen and (max-width:672px) {
   #card-one{
      width: 560px;
    
      text-align: center;
      
   }   
   img{
      width: 140px;
   }
   h2{
    font-size: 28px;
   }
   p{
      width: 490px;
      font-size: 22px;
    padding: 10px;
     
   }
   
}
@media screen and (max-width:632px) {
   #card-one{
      width: 540px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 120px;
   }
   h2{
    font-size: 26px;
   }
   p{
      width: 490px;
      font-size: 22px;
    padding: 10px;
     
   }
   
}
@media screen and (max-width:612px) {
   #card-one{
      width: 520px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 100px;
   }
   h1{
      font-size: 22px;
   }
   h2{
    font-size: 24px;
   }
   p{
      width: 490px;
      font-size: 22px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:592px) {
   #card-one{
      width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 100px;
   }
   h1{
      font-size: 22px;
   }
   h2{
    font-size: 24px;
   }
   p{
      width: 490px;
      font-size: 22px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:572px) {
   #card-one{
      width: 480px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 100px;
   }
   h1{
      font-size: 20px;
   }
   h2{
    font-size: 24px;
   }
   p{
      width: 490px;
      font-size: 22px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:572px) {
   #card-one{
      width: 460px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 90px;
   }
   h1{
      font-size: 18px;
   }
   h2{
    font-size: 22px;
   }
   p{
      width: 450px;
      font-size: 16px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:540px) {
   #card-one{
      width: 440px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 90px;
   }
   h1{
      font-size: 18px;
   }
   h2{
    font-size: 22px;
   }
   p{
      width: 420px;
      font-size: 16px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:514px) {
   #card-one{
      width: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 80px;
   }
   h1{
      font-size: 18px;
   }
   h2{
    font-size: 22px;
   }
   p{
      width: 420px;
      font-size: 16px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:500px) {
   #card-one{
      width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 80px;
   }
   h1{
      font-size: 18px;
   }
   h2{
    font-size: 22px;
   }
   p{
      width: 400px;
      font-size: 16px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:480px) {
   #card-one{
      width: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 80px;
   }
   h1{
      font-size: 16px;
   }
   h2{
    font-size: 22px;
   }
   p{
      width: 380px;
      font-size: 16px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:460px) {
   #card-one{
      width: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
      text-align: center;
      
   }   
   img{
      width: 70px;
   }
   h1{
      font-size: 16px;
   }
   h2{
    font-size: 22px;
   }
   p{
      width: 370px;
      font-size: 16px;
    margin-left: -5px;     
   }
   
}
@media screen and (max-width:440px) {
   #card-one{
      width: 340px;
    margin-top: 5px;
    margin-bottom: 5px;
      text-align: center;
      
   }   
   img{
      width: 70px;
   }
   .heading{
      height: 60px;
   }
   h1{
      font-size: 14px;
     
      padding-top: -20px;
   }
   h2{
    font-size: 22px;
   }
   p{
      width: 340px;
      font-size: 14px;     
   }
   
}
@media screen and (max-width:420px) {
   #card-one{
      width: 290px;
    margin-top: 5px;
    margin-bottom: 5px;
      text-align: center;  
   }   
   img{
      width: 60px;
   }
   .heading{
      height: 60px;
      width: 380px;
   }
   h1{
      font-size: 15px;
      padding-top: -20px;
   }
   h2{
    font-size: 20px;
   }
   p{
      width: 280px;
      font-size: 14px;     
   } 
}
@media screen and (max-width:408px) {
   #card-one{
      width: 280px;
    margin-top: 5px;
    margin-bottom: 5px;
      text-align: center;  
   }   
   img{
      width: 60px;
   }
   .heading{
      height: 55px;
      width: 370px;
   }
   h1{
      font-size: 14px;
      padding-top: -20px;
   }
   h2{
    font-size: 18px;
   }
   p{
      width: 270px;
      font-size: 14px;     
   } 
}
@media screen and (max-width:392px) {
   #card-one{
      width: 260px;
    margin-top: 5px;
    margin-bottom: 5px;
      text-align: center;  
   }   
   img{
      width: 60px;
   }
   .heading{
      height: 50px;
      width: 340px;
   }
   h1{
      font-size: 14px;
      padding-top: -20px;
   }
   h2{
    font-size: 17px;
   }
   p{
      width: 260px;
      font-size: 13px;     
   } 
}
